name: Generate Daily PPT
on:
  schedule:
    - cron: '0 3 * * *' # Runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Script
        run: python main.py
      - name: Upload PPT as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Daily-Market-Report
          path: "*.pptx" # This finds the generated file
