name: Daily Stock Analysis
on:
  schedule:
    - cron: '30 2 * * *' # Runs at 8:00 AM IST
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Analysis
        run: python main.py
      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: Daily-Stock-Report
          path: reports/
